html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  /* 요소의 최대 너비를 설정 */
  /* max-width 속성으로 너비를 설정하면 줄어드는 웹 브라우저의 크기에 맞춰 해당 HTML 요소의 너비도 자동으로 줄어든다. */
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  /* 요소의 수직 위치 정하는 속성 */
  /* z-index는 태그들이 겹칠 때 누가 더 위로 올라가는지를 결정하는 속성 */
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  /* static : 자기가 원래 위치해야 하는 그곳에 정적으로 위치하게 되고, 기본 값 */
  /* relative : 자기가 원래 위치해야 하는 위치를 기준으로 상대적인 offset 거리 만큼 이동 */
  position: relative;
  /*perspective: 20px;*/
}

.suggestions li {
  background: white;
  /* CSS를 사용하여 HTML 목록 디자인을 수정할 때 사용되는 속성 */
  /* style 속성의 값을 none으로 설정하면 해당 HTML 목록 태그의 목록 기능이 사라진다 */
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  /* 플렉스 요소는 요소들 사이에만 여유 공간을 두고 배치된다. */
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  /* 트랜스폼(Transform)은 요소에 이동(translate), 회전(rotate), 확대축소(scale), 비틀기(skew) 효과를 부여하기 위한 함수를 제공한다 */
  /*  단 애니메이션 효과를 제공하지는 않기 때문에 정의된 프로퍼티가 바로 적용되어 화면에 표시된다 */
  /* perspective(n) : 원근. 요소가 관찰자에서 멀어질 수록 더 작게 보입니다. */
  /* translateY(n) : 요소의 위치를 Y축으로 y만큼 이동시킨다 */
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  /* perspective : 3D 요소에 원근감을 표현할 때 사용할 픽셀 수를 설정 */
  /* rotateX : 해당 요소를 주어진 각도만큼 x축을 기준으로 회전 */
  /* translateY : 현재의 위치에서 해당 요소를 주어진 y축의 거리만큼 이동 */
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

span.population {
  font-size: 15px;
}

.hl {
  background: #ffc600;
}
