html {
  box-sizing: border-box;
  background: url('https://source.unsplash.com/NFs6dRTBgaM/2000x2000') fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}

.items {
  height: 800px;
  padding: 100px;
  width: 100%;
  border: 1px solid white;
  overflow-x: scroll;
  overflow-y: hidden;
  /*  요소가 공백 문자를 처리하는 법을 지정 */
  white-space: nowrap;
  /* 엘리먼트 내부에서 텍스트 선택이 일어났을 때의 동작을 설정할 수 있다 */
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  /* 요소에 예상되는 변화의 종류에 관한 힌트를 브라우저에 제공 */
  will-change: transform;
  /* 자기가 원래 위치해야 하는 위치를 기준으로 상대적인 offset 거리 만큼 이동 */
  position: relative;
  background: rgba(255,255,255,0.1);
  font-size: 0;
  /* perspective 속성에 숫자값을 지정하게 되면 2D요소를 3D요소처럼 보여지게 원근법이 적용된 모양으로 랜더링된다 */
  perspective: 500px;
}

.items.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width: 200px;
  /* calc()는 괄호 안의 식을 계산한 결과를 속성값으로 사용하게 해주는 함수 */
  height: calc(100% - 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color: rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

/* 특정 순서에 있는 요소를 선택할 때 사용하는 선택자 */
/* :nth-child()는 앞에서부터 세고, :nth-last-child()는 뒤에서부터 셉니다 */
/* :nth-child()는 형제 요소 중에서 특정 순서에 있는 요소를 선택할 때 사용 */
.item:nth-child(9n+1) { background: dodgerblue;}
.item:nth-child(9n+2) { background: goldenrod;}
.item:nth-child(9n+3) { background: paleturquoise;}
.item:nth-child(9n+4) { background: gold;}
.item:nth-child(9n+5) { background: cadetblue;}
.item:nth-child(9n+6) { background: tomato;}
.item:nth-child(9n+7) { background: lightcoral;}
.item:nth-child(9n+8) { background: darkslateblue;}
.item:nth-child(9n+9) { background: rebeccapurple;}

.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }
