html {
  /* 테두리를 기준으로 박스의 크기 지정 */
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  /* 줄 높이를 정하는 속성 */
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  /* 요소의 바깥 테두리 경계의 꼭짓점을 둥글게 만든다 */
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  /* 나열 된 요소들의 총 넓이가 부모 넓이 보다 클 때, 이 요소들을 다음 줄에 이어서 나열 해주는 기능 */
  /* 부모 넓이보다 요소들의 총 넓이가 크다면 나머지 요소들을 다음 줄로 줄바꿈 */
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  /* Three values: flex-grow | flex-shrink | flex-basis */
  flex: 1 0 33.33%;
  /* 넘치는 부분은 잘려서 보여지지 않음 */
  overflow: hidden;
  /* 원래 자기가 위치해야 하는 곳(static)을 기준으로 상대적인 offset 거리 만큼 이동 */
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  /* 요소의 수직 위치 정하는 속성 */
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}
